 /* ------------------main-container------------------ */
.news_main_container {
    border: 0.1px solid #DCDCDC; 
    padding: 1rem;
}

 /* ----------------container-info-------------- */

.news_container{
    display: flex;
    flex-direction: row;
}
.avatar_container{
    display: flex;
    flex-direction: column;
}
.avatar {
    object-fit: contain;
    height:6vw;
    width:6vw;
}
.twitter {
    object-fit: contain;
    height: 6vw;
    width: 6vw;
}
.news_description{
    display: flex;
    flex-direction: column;
    margin-left: 0.3rem;
    width: 95vw;
}
.top_header_info{
    display: flex;
    justify-content: space-between;
}

 /* -----------news-header-image-------- */

.header_image{
    border: 0.1px solid white;
}
.image_stretch {
    object-fit: contain;
    width: 100%;
}
.container_text {
    height: auto;
    border: 0.1px solid #D0D0D0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
}
.title_header{
    line-height: normal;
    margin-top: 0.9rem;
}
.subtitle{
    margin-top: 0%;
    line-height: normal;
}

 /* -------------twitter-url----------------- */

.url_container{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
.twitterHandle_container{
    width: 70%;   
}
.link{
    text-decoration: none; 
    color: #1569C7;
    cursor: pointer;
}
.hidden {
    display: none;
}


