.Newsmaincontainer {
    background-color: #F2F2F2;
    width: 94%;
    /* height: 105%; */
    display:flex; 
    padding-top: 1px;
    margin-left: 3%;
    margin-top: 12px;
    font-family: poppins;
   }
.headerimg {
    
    /* max-height: 10%; */
    width: 25%;
     max-width: 90px; 
    margin-left: 6%;
    /* margin-top: 15px;   */
}
.headertitle {
    font-size: 5vh;
    text-align: center;
    margin-top: 30px;
    margin-left: 15px;
}
.maincontainer {
    width:94%;
    flex-direction: row;
    padding-bottom: -50px;
    margin-left: 3%;
    font-family: poppins;
}

.topheader{
    display: flex;
}
.source{
    margin-left: 17px;
    margin-top: -1px;
}  
.publishedAt {
    margin-left: auto;
    margin-top: -1px;
}
.twitterHandlei {
    width: 50px;
    float: left;
}
.rightcontainer{
    flex-direction: column;
}
.mainimgheader{
  border: 0.1px solid white;
  border-width: 1;
  border-radius: 3px;
  margin-left: 55px;
  margin-right: 1px;
  background-color: #c74141;
}
.stretch {
    display: flex;
    flex: 1px;
    height: 190px;
    width: 100%;
    margin-top: -10px;
}
.containertext {
    border: 0.1px solid #D0D0D0;
    position: relative;
    margin-left: 55px;   
    /* margin-top: -12px; */
    padding-left: 5px;
}
.footer{
    display: flex;
    margin-left: 45px;
}
.link{
    text-decoration: none; 
    color: #1569C7;
    cursor: pointer;
}
.url { 
    margin-left: auto;
    /* float: right; */
    /* margin-top: -34px; */
    font-family:poppins;    
}
    
.hidden {
    display: none;

}
 .separator {
    flex: 1px; 
    border-width: 0.1px; 
    border-color: '#D0D0D0';
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0.1px solid #DCDCDC;
} 

@media (min-width: 200px) and (max-width: 399px) {
    .headerimg {
        height: 10%;
        width: 20%;
        margin-top: 20px;
    }
     
}



