 /* ------------------main-container------------------ */
.news_main_container {
    border: 0.1px solid #DCDCDC; 
    padding: 0.5%;
}

 /* ----------------container-info-------------- */
 
.description_container{
    display: flex;
    flex-direction: row;
}
.avatar_container{
    display: flex;
    flex-direction: column;
}
.avatar {
    object-fit: contain;
    /* height:3vh; */
    width:4vw;
}
.info_twitterHandle {
    width: 4vw;
    float: left;
    background-color: #c74141;
}
.twitterHandle {
    object-fit: cover;
    height: 3vw;
    width: 4vw;
}
.right_container{
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    justify-content: space-between;
}
.container_text {
    border: 0.1px solid #D0D0D0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
}



