 /* ------------------main-container------------------ */
.news_main_container {
    border: 0.1px solid #DCDCDC; 
    padding: 0.5%;
}

 /* ----------------container-info-------------- */

.description_container{
    display: flex;
    flex-direction: row;
}
.avatar_container{
    display: flex;
    flex-direction: column;
}
.avatar {
    object-fit: contain;
    /* height:3vh; */
    width:4vw;
}
.info_twitterHandle {
    width: 4vw;
    float: left;
}
.twitterHandle {
    object-fit: cover;
    height: 3vw;
    width: 4vw;
}
.right_container{
    display: flex;
    flex-direction: column;
    margin-left: 0.3%;
    width: 95%;
}
.title{
    display: flex;
    justify-content: space-between;
}

 /* -----------news-header-image-------- */
.header_image{
    border: 0.1px solid white;
}
.stretch {
    object-fit: contain;
    width: 100%;
}
.container_text {
    height: auto;
    border: 0.1px solid #D0D0D0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
}
.subtitle{
    margin-top: 1%;
    line-height: normal;
}
 /* -------------twitter-url----------------- */

.url_container{
    display: flex;
    flex-direction: column;
}
.url{
    display: flex;
    justify-content: space-between;
}
.link{
    text-decoration: none; 
    color: #1569C7;
    cursor: pointer;
}
.hidden {
    display: none;
}



