.news_main_container {
    border: 0.1px solid #DCDCDC; 
    padding: 0.5%;
}

.top_header{
    display: flex;
    justify-content: space-between;
}
.info_avatar {
    display: flex;
}
.avatar {
    object-fit: contain;
    height:3vw;
    width:3vw;
}
.source{
    margin-left: 0.4vw;
}  
.twitterHandlei {
    width: 50px;
    float: left;
}
.rightcontainer{
    flex-direction: column;
}
.mainimgheader{
  border: 0.1px solid white;
  border-width: 1;
  border-radius: 3px;
  margin-left: 55px;
  margin-right: 1px;
  background-color: #c74141;
}
.stretch {
    display: flex;
    flex: 1px;
    height: 190px;
    width: 100%;
    margin-top: -10px;
}
.containertext {
    border: 0.1px solid #D0D0D0;
    position: relative;
    margin-left: 55px;   
    padding-left: 5px;
}
.footer{
    display: flex;
    margin-left: 45px;
}
.link{
    text-decoration: none; 
    color: #1569C7;
    cursor: pointer;
}
.url { 
    margin-left: auto;
    font-family:poppins;    
}
    
.hidden {
    display: none;

}
.separator {
    flex: 1px; 
    border-width: 0.1px; 
    border-color: '#D0D0D0';
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0.1px solid #DCDCDC;
} 



