.pulseheader-container {
      background-color: #F2F2F2;
      width: 94.2%;
      height: 105%;
      display:flex; 
      padding-top: 1px;
      margin-left: 3%;
      margin-top: 12px;
      font-family: poppins;

}
.icon-image {
    /* height: 100%; */
    width:19%;
     max-width: 90px; 
    margin-left: 6%;   
}  
.header{
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
    margin-left: 15px;
}
.main-container {
    width:94%;
    border-left-width:1px;
    border-top-width:1px;
    border-bottom-width:1px;
    border-right-width:1px ;
    flex-direction: row;
    border: 0.1px solid #DCDCDC;
    margin-left: 3%;
    font-family: poppins;
}
.pulseleft-container{
    margin-left: 2%; 
    width: 60%;
  
}
/* .leftSubtitle1{
    width: 60%;

} */
.pulseright-container {
    float: right;
    margin-top: -85px;
    margin-right: 2%;

}





