/* ---------------------Pulse-Container-------------------- */
.main-container {
    flex-direction: row;
    border: 0.1px solid #DCDCDC; 
    line-height: 0; 
    padding-bottom: 0.2%;
    padding-top: 0.2%;
}

/* --------------------Pulseinside-info------------------ */
.header-container {
    display: flex;
    justify-content: space-between;
    margin-left: 1.5%;
    margin-right: 1.5%;

}
.description-container {
    display: flex;
    justify-content: space-between;
    margin-left: 1.5%;
    margin-right: 1.5%;
    /* margin-top: -2vh; */
}





