/* ---------------------Pulse-Container-------------------- */
.main-container {
    flex-direction: row;
    border: 0.1px solid #DCDCDC;    
}

/* --------------------Pulseinside-info------------------ */
.header-container {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;

}
.description-container {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
    /* margin-top: -2vh; */
}





