 /* --------------banner-logo----------------------- */
 .basket_logo{
   height: 5em;
   height: 5em;
   object-fit: contain;
 }
 
 /* ------------------------tab-list------------------- */
.tab-list {
  border-bottom: 1px solid #ccc;
  margin-top: 0.1%;
  padding-left: 1%;
  cursor: pointer; 
}
.tab-list-item {
  display: inline-block;
  list-style: none;
  font-size: 1.3rem;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}
.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

 /* ---------------------------------card-collection---------------- */
.collections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.collection-item{
  border: solid 1px #c1c1c1;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex: 0 0 22%;     
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-decoration: none;
 
}
.collection-header{
  text-align: center;
}
.img-container {
  align-items: center;
  height: 11vw;
  width: 11vw;
}

 /* -------------------------collection-media-queries------------- */
@media (max-width: 700px) {
  
  .collection-item{
    flex: 0 0 47%;  
    padding-top: 2vh;
  }
}
