.tab-list {
  margin-top: 2px;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  font-family: pppins;
  cursor: pointer;
  /* width: 100%; */

}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.basket-header {
  background-color: #F2F2F2;
  width: 100%;
  height: 105%;
  display:flex; 
  padding-top: 1px;
  margin-top: 12px;
  font-family:poppins;
}
.basketicon-image {
  width:18%;
  max-width: 90px; 
}
.baskettitle-container{
  font-size: 23px;
  margin-top: 25px;
  margin-left: 15px;
}
.collections {
  display: flex;
  flex-wrap: wrap;
  padding-bottom:5%;
  padding-left:-1%;
  
}
.collection-header{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    font-family: pppins;
}
.collection-item{
  flex: 0 0 28%;     
  padding: 1%;
  height: auto;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #c1c1c1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  /* padding: 12px; */
  margin-left:1%;
  margin-top: 1%;
  
}
.imgc{
  height: 90px;
  width: 100px;
  margin: auto;
}
.img-container{
  height: 100px;
  width: 100px;
}

@media (max-width: 768px) {
  
    .collection-item{
    flex: 0 0 45%; 
    width: 200px;
    height: 200px;     
  }
}


@media (max-width: 700px) {
  
  .collection-item{
    flex: 0 0 43%; 
    /* width: 200px;
    height: 200px; */
    margin-left: 3%;
    margin-top: 2%;
   
  }
    
} 

/* @media (min-width: 400px) {
  .tab-list-item {
    padding: 5px 5px;
    margin-right: 5%;
    margin-left: 1%;
}
.tab-list {
  display: flex;
  flex-direction: row;
  padding-left: 1px;
}

  } 
 */
  /* @media (min-width: 200px) and (max-width: 399px) {
    .tab-list-item {
      display: flex;
      flex-direction: row;
      padding: 5px 5px;
      margin-right: 7px;
      margin-left: 6px;
    }
    .tab-list {
      display: flex;
      flex-direction: row;
      padding-left: 1px;
    }
    .img-container{
      height: 70px;
      width: 70px;
    }
    .collection-item{
      width: 200px;
      height: 170px;
      padding-top: -10%;

    }
    .collection-header{
      font-size: 15px;
     
  } */

  @media (max-width: 399px) {
    .tab-list-item {
      display: flex;
      flex-direction: row;
      padding: 2px 7px;
      font-weight: 900;
      /* margin-right: 3px; */
      margin-left: 2px;

      /* margin-right: 1.5%;
      margin-left: 1.5%; */
    }
    .tab-list {
      display: flex;
      flex-direction: row;
      padding-left: 1px;
    }
    .img-container{
      height: 70px;
      width: 70px;
    }
    .collection-item{
      width: 200px;
      height: 170px;
      padding-top: -10%;

    }
    .collection-header{
      font-size: 16.5px;
     
  }


 @media  (max-width: 365px){
 .tab-list-item {
  display: flex;
  flex-direction: row;
  padding: 5px 2px;
  margin-right: 10px;
  margin-left: 1px;

  /* margin-right: 1.5%;
  margin-left: 1.5%; */
}
.tab-list {
  display: flex;
  flex-direction: row;
  padding-left: 1px;
}
    
}
}


