 /* --------------------main-header-icon--------------- */
.header-icon {
     color:#2196F3;
     margin-left: 1rem;
}
 /* ----------------------header-description--------------- */

.header-description{
    border: 0.1px solid #DCDCDC;
    display:flex; 
    padding: 1%;
}
.description-logo{
    height: 8vh;
    width: 8vh;
}

 /* ------------------------main-container---------------- */

.main-detail-container {
     border: 0.1px solid #DCDCDC;
     line-height: 0;
     padding-bottom: 0.2%;
     padding-top: 0.2%;
}
 /* --------------------main-container-info------------------ */
.detail-top-container{
    display: flex;
    justify-content: space-between;  
    margin-left: 1.5%;
    margin-right: 1.5%;    
}
.header-left {
    display: flex;
    width: 80vw;
}
.detail-bottom-container {
    display: flex;
    justify-content: space-between;      
    margin-left: 1.5%;
    margin-right: 1.5%;
}
