.tab-list {
  margin-top: 2px;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  font-family: pppins;
  cursor: pointer;
  /* width: 100%; */
 
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  font-size:15px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.collections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding:1%;
}
.collection-header{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    font-family: poppins;
}

.collection-item{
  text-decoration: none;
  flex: 0 0 20%;     
  padding: 1%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #c1c1c1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  
  /* padding: 12px; */
  
  margin-top: 1%;
  
}
.imgc{
  height: 90px;
  width: 100px;
  margin: auto;
}
.img-container{
  height: 100px;
  width: 100px;
}




@media (max-width: 700px) {
  
  .collection-item{
    flex: 0 0 45%;    
    
  }
}
