.mainheader-container {
    background-color: #F2F2F2;
    width: 94%;
    height: 105%;
    display:flex; 
    padding-top: 12px;
    margin-left: 3%;
    margin-top: 12px;
    font-family:poppins;
}
.icon {
    margin-top: 1px;
     color:#2196F3;
      margin-left: 10px;
}
.mainheader{
  font-size: 25px;
  text-align: center;
  margin-top: 1px;
  margin-left: 15px;
}

.header2-container {
     width:94%;
     height: 105%;
     margin-left: 3%;
     border: 0.1px solid #DCDCDC;
     display: flex;
} 
.img {
    width: 18%;
    max-width: 70px;
      margin-left: 10px
 }

.title {
    padding-left: 20px;
    align-items: left;
    font-size: 2vh;
    font-family: poppins;
}
.ccc{
    background-color: 'light';
    justify-content: center;
    margin-left: 3%;
     padding-bottom: -10%; 
     width:94%;
     border-left-width:1px;
     border-top-width:0.1px;
     border-bottom-width:1px;
     border-right-width:1px ;
     border: 0.1px solid #DCDCDC;
     font-family:poppins;

}
.leftcontainer{
    margin-left: 1.2%;
    margin-right: 1.2%;
    display: flex;   
}
.symbol{
    padding-right: 10px;
    color: #2196F3;   
}
.entryMillis {
    padding-left: 10px;
    width: 40% ;
}
.price{
    margin-left: auto;
}
.rightcontainer {
    display: flex;
    margin-top: -25px;
    margin-left: 1.2%;
    margin-right: 1.2%;
}
.diff{
    margin-left: auto;

}
