 /* --------------------main-header-icon--------------- */
.header-icon {
     color:#2196F3;
}

 /* ------------------------main-container---------------- */

.main-detail-container {
     border: 0.1px solid #DCDCDC;
     line-height: 0;
     padding-bottom: 0.2%;
     padding-top: 0.2%;
}
 /* --------------------main-container-info------------------ */
.detail-top-container{
    display: flex;
    justify-content: space-between;  
    margin-left: 1.2%;
    margin-right: 1.2%;    
}
.header-left {
    display: flex;
    width: 80vw;
}
.detail-bottom-container {
    display: flex;
    justify-content: space-between;      
    margin-left: 1.2%;
    margin-right: 1.2%;
}
