.mainnav {
  margin-top:10%;
   margin-left: 35%; 
   position:fixed;
   justify-content:center;
}
.nav1 {
  width:150%;
  background-color: #bcdfeb;
}
.nav2 {
  width:150%;
  background-color: #bcdfeb;
  margin-top:-143%;
  margin-left:173%;
}
.nav3 {
  width:150%;
  background-color: #bcdfeb;
}
.nav4 {
  width:150%;
  background-color: #bcdfeb;
  margin-top:-143%;
  margin-left:173%;
}



@media only screen and (max-width: 1024px) {
  .mainnav {
    margin-top:0%;
   margin-left: -5%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:120%;
    background-color: #bcdfeb;
    
  }
  .nav3 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:120%;
    background-color: #bcdfeb;
    /* margin-left: 40%; */
  }
  
} 
@media only screen and (max-width: 400px) {
  .mainnav {
    margin-top:-10%;
   margin-left: -7%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:110%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:110%;
    background-color: #bcdfeb;
    margin-left: 160%;

    
  }
  .nav3 {
    width:110%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:110%;
    background-color: #bcdfeb;
    margin-left: 160%;

  }

}


 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .mainnav {
    margin-top:5%;
   margin-left: 15%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:120%;
    background-color: #bcdfeb;
    
  }
  .nav3 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:120%;
    background-color: #bcdfeb;
    /* margin-left: 40%; */

  }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mainnav {
    margin-top:0%;
   margin-left: 25%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:120%;
    background-color: #bcdfeb;
    
  }
  .nav3 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:120%;
    background-color: #bcdfeb;
    /* margin-left: 40%; */

  }

} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mainnav {
    margin-top:10%;
   margin-left: 30%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:120%;
    background-color: #bcdfeb;
    
  }
  .nav3 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:120%;
    background-color: #bcdfeb;
    /* margin-left: 40%; */

  }

} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mainnav {
    margin-top:5%;
   margin-left: 35%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:120%;
    background-color: #bcdfeb;
    
  }
  .nav3 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:120%;
    background-color: #bcdfeb;
    /* margin-left: 40%; */

  }

}




