.mainnav {
  margin-top:-1%;
  margin-left: 32%; 
  /* position:sticky; */
  display: flex;
  flex: 5px;
  justify-content: center;
  align-items: center;
  position: fixed;
  position: absolute;
}
.nav1 {
  width:50%;
  background-color: #bcdfeb;
}
.nav2 {
  width:50%;
  background-color: #bcdfeb;
  /* /* margin-top:-143%; */
   margin-left:3%; 
}
.nav3 {
  width:50%;
  background-color: #bcdfeb;
  margin-top:80%;
  margin-left:-99%; 
}
.nav4 {
  width:50%;
  background-color: #bcdfeb;
  margin-top:80%;
  margin-left:3%; 

}

 @media only screen and (max-width: 1024px) {
  .mainnav {
    margin-top:-9%;
    margin-left: 3%; 
    align-items: center;
  }
  .nav1 {
    width:40%;
    background-color: #bcdfeb;
  }
  .nav2 {
    width:40%;
    background-color: #bcdfeb;
     margin-left:4%; 
  }
  .nav3 {
    width:40%;
    background-color: #bcdfeb;
    margin-top:85%;
    margin-left:-84%; 
  
  
  }
  .nav4 {
    width:40%;
    background-color: #bcdfeb;
    margin-top:85%;
    margin-left:4%; 
  
  }
  
} 
  /* @media only screen and (max-width: 400px) {
  .mainnav {
    margin-top:-5%;
   margin-left: -7%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:110%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:110%;
    background-color: #bcdfeb;
    margin-left: 160%;

    
  }
  .nav3 {
    width:110%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:110%;
    background-color: #bcdfeb;
    margin-left: 160%;

  }

} */


 /* @media only screen and (min-width: 600px) {
  .mainnav {
    margin-top:5%;
   margin-left: 15%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:120%;
    background-color: #bcdfeb;
    
  }
  .nav3 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:120%;
    background-color: #bcdfeb;

  }

} */
/* @media only screen and (min-width: 768px) {
  .mainnav {
    margin-top:0%;
   margin-left: 25%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:120%;
    background-color: #bcdfeb;
    
  }
  .nav3 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:120%;
    background-color: #bcdfeb;

  }

}  */
/* @media only screen and (min-width: 992px) {
  .mainnav {
    margin-top:10%;
   margin-left: 30%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:120%;
    background-color: #bcdfeb;
    
  }
  .nav3 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:120%;
    background-color: #bcdfeb;

  }

}  */

@media only screen and (min-width: 1200px) {
  .mainnav {
    margin-top:-2%;
    margin-left: 32%; 
    align-items: center;
    position: fixed;
    position: absolute;
  }
  .nav1 {
    width:40%;
    background-color: #bcdfeb;
  }
  .nav2 {
    width:40%;
    background-color: #bcdfeb;
     margin-left:6%; 
  }
  .nav3 {
    width:40%;
    background-color: #bcdfeb;
    margin-top:86%;
    margin-left:-86%; 
  
  
  }
  .nav4 {
    width:40%;
    background-color: #bcdfeb;
    margin-top:86%;
    margin-left:6%; 
  
  }


}

 


  
