.con {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: 0.1px solid red;
  /* background-color: #F2F2F2; */
  display: flex;
  margin-top:10%;
  width: 40%;
  margin-left: 25%;
  padding-bottom: 2%; 
  position: fixed;
}
.nav1 {
  flex: 1;
  display: flex;
  justify-content: center;
  border: 0.1px solid red;
  width:110%;
  background-color: #bcdfeb;
  margin-left: -140%;
  margin-top: 28%;
}
.nav2 {
  flex: 1;
  display: flex;
  justify-content: center;
  border: 0.1px solid red;
  width:110%;
  background-color: #bcdfeb;
  margin-top: -97%; 
  margin-left:-25%; 
  /* position: fixed; */
}
.nav3 {
  flex: 1;
  display: flex;
  justify-content: center;
  border: 0.1px solid red;
  width: 140%;
  background-color: #bcdfeb;
  margin-left: -210%;
  margin-top:170%; 

}
.nav4 {
  flex: 1;
  display: flex;
  justify-content: center;
  border: 0.1px solid red;
  width:140%;
  background-color: #bcdfeb;
  margin-top: -128%; 
  margin-left:-55%; 
}

@media only screen and (max-width: 1024px) {
  .con {
    flex: 1;
    flex-direction: row-reverse;
    justify-content: center;
    border: 0.1px solid red;
    background-color: #F2F2F2;
    display: flex;
    margin-top:40%;
    width: 90%;
    margin-left: 4%;
    padding-bottom: 2%; 
  }
  .nav1 {
     width:140%;
    /* background-color: #bcdfeb;  */
    /* margin-left: -210%; */
    margin-top: 28%;
    margin-left: -210%;
  }
  .nav2 {
    width:140%;
    /* background-color: #bcdfeb; */ 
    margin-top: -138%; 
    margin-left:-55%; 
  }
  .nav3 {
     width: 140%;
    /* background-color: #bcdfeb; */ 
    margin-left: -210%;
    margin-top:170%; 
  
  }
  .nav4 {
    width:130%;
    /* background-color: #bcdfeb;  */
    margin-top: -128%; 
    margin-left:42%; 
  }
}



