.mainnav {
  margin-top:1%;
  margin-left: 32%; 
  /* position:sticky; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  position: absolute;
}
.nav1 {
  width:150%;
  background-color: #bcdfeb;
}
.nav2 {
  width:150%;
  background-color: #bcdfeb;
  /* /* margin-top:-143%; */
   margin-left:3%; 
}
.nav3 {
  width:150%;
  background-color: #bcdfeb;
  margin-top:80%;
  margin-left:-99%; 


}
.nav4 {
  width:150%;
  background-color: #bcdfeb;
  margin-top:80%;
  margin-left:3%; 

}



/* @media only screen and (max-width: 1024px) {
  .mainnav {
    margin-top:13%;
   margin-left: -3%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:130%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:130%;
    margin-left:180% ;
    background-color: #bcdfeb;

  }
  .nav3 {
    width:130%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:130%;
    margin-left: 180%;
    background-color: #bcdfeb;
  }
  
} 
@media only screen and (max-width: 400px) {
  .mainnav {
    margin-top:-5%;
   margin-left: -7%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:110%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:110%;
    background-color: #bcdfeb;
    margin-left: 160%;

    
  }
  .nav3 {
    width:110%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:110%;
    background-color: #bcdfeb;
    margin-left: 160%;

  }

}


 @media only screen and (min-width: 600px) {
  .mainnav {
    margin-top:5%;
   margin-left: 15%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:120%;
    background-color: #bcdfeb;
    
  }
  .nav3 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:120%;
    background-color: #bcdfeb;

  }

}
@media only screen and (min-width: 768px) {
  .mainnav {
    margin-top:0%;
   margin-left: 25%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:120%;
    background-color: #bcdfeb;
    
  }
  .nav3 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:120%;
    background-color: #bcdfeb;

  }

} 
@media only screen and (min-width: 992px) {
  .mainnav {
    margin-top:10%;
   margin-left: 30%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:120%;
    background-color: #bcdfeb;
    
  }
  .nav3 {
    width:120%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:120%;
    background-color: #bcdfeb;

  }

} 

@media only screen and (min-width: 1200px) {
  .mainnav {
    margin-top:3%;
   margin-left: 29%; 
  position:fixed;
  justify-content:center;
 }
  .nav1 {
    width:150%;
    background-color: #bcdfeb;
    margin-left: 40%;
    margin-top: 80%;

  }
  .nav2 {
    width:150%;
    background-color: #bcdfeb;
    margin-left: 210%;

  }
  .nav3 {
    width:150%;
    background-color: #bcdfeb;
    margin-left: 40%;

  }
  .nav4 {
    width:150%;
    background-color: #bcdfeb;
    margin-left: 210%;

  }

}




 */
