.ss {
   margin-top:2%; 
   padding:2px;
    width:426px; 
    margin-left: 32%;
    border-left-width:7px;
    border-top-width:1px;
    border-bottom-width:1px;
    border-right-width:1px ;
    border: 0.1px solid #DCDCDC;
    padding-bottom: 5%;
    /* border-top: 4px; */
  }
  .nn {
      background-color: #F2F2F2;
      margin-left: -1px;
      /* margin-top:-2%; */
       /* width:510px; */
        height:70px;
  }
  .ic {
    /* margin-top: 2%; */
    color:#2196F3;
     margin-left: 2%;
 }
  .ii {
    height: 56px;
    width:56px;
    margin-left: 5%;
     margin-top: -3% !important;
}
.tt {
  font-size: 25px;
   font-weight:bold;
   margin-top: -11%; 
   margin-left: 16%;
   font-family:'poppins'
   /* margin-bottom: 4%; */
}
.cc {
  margin-left: 9px;
  width:200px;
  border-left-width:1px;
  border-top-width:1px;
  border-bottom-width:1px;
  border-right-width:10px ;
  border: 1px solid whitesmoke;
  margin-top: 5px; 
  border-radius: 5px;
  box-shadow:1px 1px 2rem -1rem rgba(0,0,0,0.2);
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1); */
  /* transition: 0.3s; */
}
  
  .tab1 {
    text-align: center;
    color: #622ECA;
     font-weight: bold;
     margin-left: 5%;
  }
  .tab2 {
    width:  100px;
    text-align: center;
    color: #622ECA;
     font-weight: bold;
  }
  .tab3 {
    text-align: center;
    color: #622ECA;
     font-weight: bold;
  }
  .tab4 {
    text-align: center;
    color: #622ECA;
     font-weight: bold;
  }
  @media only screen and (max-width: 1024px) {
    .ss {
      margin-top:2%; 
      padding:2px;
       width:426px; 
       margin-left: 0.6%;
       /* margin-right: 1%; */
       border-left-width:1px;
       border-top-width:1px;
       border-bottom-width:1px;
       border-right-width:1px ;
       border: 0.1px solid #DCDCDC;
       padding-bottom: 150%;
       /* border-top: 4px; */
     }
   
      .nn {
        background-color: #F2F2F2;
        margin-left: -1px;
       
          height:70px;
    }
    .ic {
      /* margin-top: 2%; */
      color:#2196F3;
       margin-left: 2%;
   }
    .ii {
      height: 56px;
      width:56px;
      margin-left: 6%;
       margin-top: -2% !important;
  }
  .tt {
    font-size: 30px;
     font-weight:bold;
     margin-top: -12%; 
     margin-left: 19%;
     /* margin-bottom: 4%; */
}
.cc {
  margin-left: 9px;
  width:150px 'auto';
  border-left-width:1px;
  border-top-width:1px;
  border-bottom-width:1px;
  border-right-width:1px ;
  border: 0.1px solid #DCDCDC;
  margin-top: 5px; 
}

  }