.mm {
    justify-content: center;
    padding:20px;
     width:430px; 
     margin-left: 31%;
     border-left-width:7px;
     border-top-width:1px;
     border-bottom-width:1px;
     border-right-width:1px ;
     border: 0.1px solid #DCDCDC;
     background-color:#F2F2F2 ;
}
.mc {
    background-color: 'light'; 
    justify-content: center;
    margin-left: 31%;
     padding:10px;
      padding-bottom: -10px;
       width:450px;
       border-left-width:1px;
       border-top-width:1px;
       border-bottom-width:1px;
       border-right-width:1px ;
       border: 0.1px solid #DCDCDC;
} 
.mmcc {
    flex-direction: row; 
    padding: 14px;
    margin-left: 1px;
    margin-right:1px;
    margin-top: 0px; 
    margin-bottom: 0px;
    border-radius: 5px;
    background-color: #FFF;
}
.to {
    justify-content: space-between;
    width:auto;
}
.tto {
    margin-left: 90px;
     margin-top:-55px;
}

.ccc{
    background-color: 'light';
    justify-content: center;
    margin-left: 31%;
     padding-bottom: -10px; 
     width:470px;
     border-left-width:1px;
     border-top-width:0.1px;
     border-bottom-width:1px;
     border-right-width:1px ;
     border: 0.1px solid #DCDCDC;
}
@media only screen and (max-width: 1024px) and (max-width: 650px) {
    .mm {
        justify-content: center;
        padding:20px;
         width:310px; 
         margin-left: 4%;
         border-left-width:7px;
         border-top-width:1px;
         border-bottom-width:1px;
         border-right-width:1px ;
         border: 0.1px solid #DCDCDC;
         background-color:#F2F2F2 ;
    }
    .mc {
        background-color: 'light'; 
        justify-content: center;
        margin-left: 4%;
         padding:10px;
          padding-bottom: -10px;
           width:330px;
           border-left-width:1px;
           border-top-width:1px;
           border-bottom-width:1px;
           border-right-width:1px ;
           border: 0.1px solid #DCDCDC;
    } 
    .mmcc {
        flex-direction: row; 
        padding: 8px;
        margin-left: 1px;
        margin-right:1px;
        margin-top: 0px; 
        margin-bottom: 0px;
        border-radius: 5px;
        background-color: #FFF;
    }
    .to {
        justify-content: space-between;
        width:auto;
    }
    .tto {
        margin-left: 90px;
         margin-top:-55px;
    }
    .ccc{
        background-color: 'light';
        justify-content: center;
        margin-left: 4%;
         padding-bottom: -10px; 
         width:350px;
         border-left-width:1px;
         border-top-width:0.1px;
         border-bottom-width:1px;
         border-right-width:1px ;
         border: 0.1px solid #DCDCDC;
    }
}