
 ul{
  list-style-type:none;
 }
 .basket-header{
  display: flex;

}
.tab-panel{
 
}
.title-container{
  min-height: 100%;
  align-content: center;
  display: flex;
  align-items: center;
}

    
.basket-card {
  margin-left: 9px;
<<<<<<< HEAD
  width:200px;
  height: 180px;
  border-left-width:1px;
  border-top-width:1px;
  border-bottom-width:1px;
  border-right-width:10px ;
  /* border: 0.1px solid #DCDCDC; */
  border: 0.1px solid 'white';
  margin-top: 5px; 
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
=======
  width:150px 'auto';
  border-left-width:1px;
  border-top-width:1px;
  border-bottom-width:1px;
  border-right-width:1px ;
  border: 0.1px solid #DCDCDC;
  margin-top: 5px; 
  justify-content: center; 
  height: 120px;
  margin: 5;
  padding-top: 20;
  flex:1;
>>>>>>> 32675aeec328fe3e46eb33216c629fd8f67920c6
}
  .tab1 {
    text-align: center;
    color: #622ECA;
     font-weight: bold;
    width: 30%;
  
  }