.mm {
    justify-content: center;
    padding:1%;
     width:28%; 
     margin-left: 31%;
     border-left-width:1px;
     border-top-width:1px;
     border-bottom-width:1px;
     border-right-width:1px ;
     border: 0.1px solid #DCDCDC;
     background-color:#F2F2F2 ;
}
.vv {
    justify-content: center;
    padding:1%;
     width:28%; 
     margin-left: 31%;
     border-left-width:1px;
     border-top-width:1px;
     border-bottom-width:1px;
     border-right-width:1px ;
     border: 0.1px solid #DCDCDC;
     /* background-color:#F2F2F2 ; */
    /* background-color: 'light'; 
    justify-content: center;
    margin-left: 31%;
     padding:1%;
      padding-bottom: -10px;
       width:28%;
       border-left-width:1px;
       border-top-width:1px;
       border-bottom-width:1px;
       border-right-width:1px ;
       border: 0.1px solid #DCDCDC; */
} 
.vmcc {
    margin-bottom: 30px;

    /* flex-direction: row;  */
    /* padding: 2%;
    margin-left: 1px;
    margin-right:1px;
    margin-top: 0px; 
    margin-bottom: 0px;
    border-radius: 5px;
    background-color: #FFF; */
}
.to {
    justify-content: space-between;
    width:auto;
}
.tto {
    margin-left: 90px;
     margin-top:-55px;
     font-family: poppins;
}

.ccc{
    background-color: 'light';
    justify-content: center;
    margin-left: 31%;
     padding-bottom: -10%; 
     width:30%;
     border-left-width:1px;
     border-top-width:0.1px;
     border-bottom-width:1px;
     border-right-width:1px ;
     border: 0.1px solid #DCDCDC;
}
@media only screen and (max-width: 1024px) {
    .mm {
        justify-content: center;
        padding:1%;
         width:88%; 
         margin-left: 4.5%;
         border-left-width:1px;
         border-top-width:1px;
         border-bottom-width:1px;
         border-right-width:1px ;
         border: 0.1px solid #DCDCDC;
         background-color:#F2F2F2 ;
    }
.vv {
    justify-content: center;
    padding:1%;
     width:88%; 
     margin-left: 4.5%;
     border-left-width:1px;
     border-top-width:1px;
     border-bottom-width:1px;
     border-right-width:1px ;
     border: 0.1px solid #DCDCDC;

} 
.vmcc {
    margin-top: 12px; 
    margin-bottom: 28px;

}
    .to {
        justify-content: space-between;
        width:auto;
    }
    .tto {
        margin-left: 90px;
         margin-top:-55px;
    }
    
    .ccc{
        background-color: 'light';
        justify-content: center;
        margin-left: 4.5%;
         padding-bottom: -10px; 
         width:90%;
         border-left-width:1px;
         border-top-width:1px;
         border-bottom-width:1px;
         border-right-width:1px ;
         border: 0.1px solid #DCDCDC;
    }
    
}