
 ul{
  list-style-type:none;
 }
 .basket-header{
  display: flex;

}
.tab-panel{
 
}
.title-container{
  min-height: 100%;
  align-content: center;
  display: flex;
  align-items: center;
}

    
.basket-card {
  margin-left: 9px;
  width:150px 'auto';
  border-left-width:1px;
  border-top-width:1px;
  border-bottom-width:1px;
  border-right-width:1px ;
  border: 0.1px solid #DCDCDC;
  margin-top: 5px; 
  justify-content: center; 
  height: 120px;
  margin: 5;
  padding-top: 20;
  flex:1;
}
  .tab1 {
    text-align: center;
    color: #622ECA;
     font-weight: bold;
    width: 30%;
  
  }