.main-container {
    width:100%;
    border-left-width:1px;
    border-top-width:1px;
    border-bottom-width:1px;
    border-right-width:1px ;
    border: 0.1px solid #DCDCDC;
    /* border-top: 4px; */
  }
  .header-container {
    background-color: #F2F2F2;
      /* height:20%; */
      /* max-height:10%; */
      display:flex; 
      padding-top: 1%;

}
.icon-image {
    height: 100%;
    width:25%;
    max-width: 90px;
    margin-left: 6%;   
}
  
.header{
    font-size: 5vh;
    text-align: center;

  }
   