.Newsmain-container {
    background-color: #F2F2F2;
    width: 94%;
    height: 105%;
    display:flex; 
    padding-top: 1px;
    margin-left: 3%;
    margin-top: 12px;
    font-family: poppins;
   }
.header-img {
    height: 100%;
    width:15%;
     max-width: 90px; 
    margin-left: 6%;  
}
.header-title {
    font-size: 5vh;
    text-align: center;
    margin-top: 16px;
    margin-left: 15px;
}
.maincontainer {
    width:94%;
    flex-direction: row;
    /* border: 0.1px solid #D0D0D0; */
    padding-bottom: -50px;
    margin-left: 3%;
    font-family: poppins;
}
.avatar{
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

.top-header{
    display: flex;
}
.source{
    margin-left: 55px;
}  
.publishedAt {
    align-items: center;
margin-right: -70%;
}
/* .description-container{
    display: flex;
    flex-direction: column;
} */
.main-img-header{
  /* flex: 1; */
  margin-right: 1px;
  display: flex;
  justify-content: center;
  border: 0.1px solid white;
  border-width: 1;
  border-radius: 3px;
  padding-left : 4px;
  margin-left: 55px;
  margin-top: 50px,

}
.stretch {
    display: flex;
    flex: 1;
     height: 160px;
     width: 100%;
     /* marginHorizontal: -2, */
 }
.container-text {
    flex: 1;
    margin-right: 1px ;
    border: 0.1px solid #D0D0D0;
    margin-left: 55px;
    padding: 1px 16px;
    /* margin-top: -2px; */
}
.link{
    text-decoration: none; 
    color: #1569C7;
    cursor: pointer;
}
.url { 
    float: right;
    margin-top: -34px;
    font-family:poppins;
    
}
/* .twitterHandlei {
   
    margin-left: 3px;
 } */
 .stretch {
          display: flex;
          flex: 1px;
           height: 190px;
           width: 100%;
           /* marginHorizontal: -2, */
           margin-top: 31px;
       }
    
.hidden {
    display: none;
}
 .separator {
    flex: 1px; 
    border-width: 0.1px; 
    border-color: '#D0D0D0';
    padding-top: 10px;
    border: 0.1px solid #c74141;
} 




