.Newsmaincontainer {
    background-color: #F2F2F2;
    width: 94%;
    height: 105%;
    display:flex; 
    padding-top: 1px;
    margin-left: 3%;
    margin-top: 12px;
    font-family: poppins;
   }
.headerimg {
    height: 100%;
    width:15%;
     max-width: 90px; 
    margin-left: 6%;  
}
.headertitle {
    font-size: 5vh;
    text-align: center;
    margin-top: 16px;
    margin-left: 15px;
}
.maincontainer {
    width:94%;
    flex-direction: row;
    padding-bottom: -50px;
    margin-left: 3%;
    font-family: poppins;
}

.topheader{
    display: flex;
}
.source{
    margin-left: 17px;
    margin-top: -1px;
}  
.publishedAt {
    float: right;
    margin-top: -1px;
    /* margin-left: 85%; */

}
.description{
    display: flex;
    
}
.mainimgheader{
  /* flex: 1; */
  /* margin-right: 1px; */
  /* justify-content: center; */
  border: 0.1px solid white;
  border-width: 1;
  border-radius: 3px;
  margin-left: 55px;
  background-color: #c74141;
  /* padding-left : 4px;
   */
  /* margin-top: 50px, */

}
.rightcontainer{
    flex-direction: column;
}
.stretch {
     height: 160px;
     width: 100%;
     background-color: black;
 }
.containertext {
    /* flex: 1; */
    /* margin-right: 1px ; */
    border: 0.1px solid #D0D0D0;
    margin-left: 5px;
    /* */
    /* padding: 1px 16px; */
    margin-top: -12px;
}
.link{
    text-decoration: none; 
    color: #1569C7;
    cursor: pointer;
}
.url { 
    float: right;
    margin-top: -34px;
    font-family:poppins;    
}
.stretch {
    display: flex;
    flex: 1px;
    height: 190px;
    width: 100%;
    margin-top: 31px;
}
    
.hidden {
    display: none;
}
 .separator {
    flex: 1px; 
    border-width: 0.1px; 
    border-color: '#D0D0D0';
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0.1px solid #c74141;
} 

