.Newsmain-container {
    background-color: #F2F2F2;
    width: 94%;
    height: 105%;
    display:flex; 
    padding-top: 1px;
    margin-left: 3%;
    margin-top: 12px;
    font-family: poppins;
   }
.header-img {
    height: 100%;
    width:15%;
     max-width: 90px; 
    margin-left: 6%;  
}
.header-title {
    font-size: 5vh;
    text-align: center;
    margin-top: 16px;
    margin-left: 15px;
}
.maincontainer {
    width:94%;
    border-left-width:1px;
    border-top-width:1px;
    border-bottom-width:1px;
    border-right-width:1px ;
    flex-direction: row;
    border: 0.1px solid #D0D0D0;
    padding-bottom: 10px;
    margin-left: 3%;
    font-family: poppins;
}
.source{
    flex: 1;
    flex-direction: row;
    padding-right: 10px;
    margin-top: -90px;
    margin-left: 55px;
    justify-content: center;  
    font-family:poppins;     
}  
.publishedAt {
    text-align: right;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 10px ;
    margin-top: 0%;
    margin-bottom: -0%; 
    font-family: poppins;
  
}
.main-img-header{
    flex: 1;
  margin-right: 1px;
  display: flex;
  justify-content: center;
  border: 0.1px solid white;
  border-width: 1;
  /* borderTopLeftRadius: 2; 
  borderTopRightRadius: 2; *2q  */
  border-radius: 3px;
  padding-left : 4px;
  margin-left: 55px;
}
.stretch {
    display: flex;
    flex: 1;
     height: 160px;
     width: 100%;
     /* marginHorizontal: -2, */
     margin-top: 5px,
 }
.container-text {
    flex: 1;
    margin-right: 1px ;
    /* display: flex; */
    /* justify-content: center; */
    border-width: 1px;
    border-top-left-radius: 1px; 
    border-top-right-radius: 1px;
    border-radius: 3px;
    padding-left : 4px;
    border: 0.1px solid #D0D0D0;
    border-left-width:1px;
    border-top-width:1px;
    border-bottom-width:1px;
    border-right-width:1px;
    margin-left: 55px;
    /* justify-content: space-around; */
}
.link{
    text-decoration: none; 
    color: #1569C7;
    cursor: pointer;
}
.url { 
    float: right;
    margin-top: -34px;
    font-family:poppins;
    
}
.twitterHandlei {
    /* position:absolute;
    padding-top: 32px; */
    margin-left: 3px;
 }
 .stretch {
          display: flex;
          flex: 1px;
           height: 190px;
           width: 100%;
           /* marginHorizontal: -2, */
           margin-top: 5px;
       }
    
.hidden {
    display: none;
}
.separator {
    flex: 1px; 
    border-width: 0.1px; 
    border-color: '#D0D0D0';
    padding-top: 10px;
    border: 0.1px solid #F2F2F2;
} 




