.main1 {
    flex: 1;
    border: 0.1px solid #F2F2F2;
    display: flex;
    background-color: #F2F2F2;
    margin-left: 31%;
    padding-top: 1%;  
    padding:0.8%; 
    width: 27.3%;
    border-color: #DCDCDC;
   }
   .icc {
    margin-top: 2%;
     color:#2196F3;
      margin-left: 2%;
}
.imm {
    height: 50px;
    width:50px;
    margin-left: 4%; 
    margin-top: -0.5%;
}
.too {
    font-size: 25px;
    font-weight:bold;
    margin-top: 1.4%; 
    margin-left: 0.8%;
    margin-bottom: -4%;
    font-family: poppins;


}
   .maincontainer {
    background-color: 'light';
     margin-left: 31%;
     justify-content: center;
      padding-bottom: -10%; 
       width:34.7%;
   }
   .link{
   text-decoration: none; 
   color: #1569C7;
}
.container_text {
    flex: 1;
    margin-right: 1px ;
    display: 'flex';
    justify-content: center;
    border-width: 1px;
    border-top-left-radius: 1px; 
    border-top-right-radius: 1px;
    border-radius: 3px;
    padding-left : 4px;
    border: 0.1px solid #D0D0D0;
    /* padding-top: 5%; */
    /* padding-bottom: 20%; */
    border-left-width:1px;
    border-top-width:1px;
    border-bottom-width:1px;
    border-right-width:1px;
    margin-left: 55px;
    justify-content: space-around;
}
   .separator {
    flex: 1px; 
    border-width: 0.1px; 
    border-color: '#D0D0D0';
    padding-top: 10px;
    border: 0.1px solid #F2F2F2;

} 
.publishedAt {
    text-align: right;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 10px ;
    margin-top: 0%;
    margin-bottom: -0%; 
    font-family: poppins;
  
}



@media all and (-ms-high-contrast: none),(-ms-high-contrast: active) {
    .main1 {
        background-color: #F2F2F2;
        width: 27.4%;
        margin-left: 31%;
        padding:-3%; 
        padding-top: 1%; 
        padding-bottom: 4%;   

       }
       .imm {
        height: 50px;
        width:50px;
        margin-left: 4%; 
        margin-top: 0.5%;
    }
    
       .maincontainer {
        background-color: 'light';
         margin-left: 31%;
         justify-content: center;
           width:33%;
           /* position: absolute;          */
           
       }
       .separator {
        flex: 1px; 
        border-width: 0.1px; 
        border-color: '#D0D0D0';
        padding-top: 5%;
        padding-bottom: -3%;
        /* margin-bottom:2px; */
        border: 0.1px solid #F2F2F2;
    }
    .container_text {
        /* flex: 1;
        margin-right: 1px ;
        display: 'flex';
        justify-content: center;
        border-width: 1px;
        border-top-left-radius: 1px; 
        border-top-right-radius: 1px;
        border-radius: 3px;
        padding-left : 4px; */
        border: 0.1px solid #D0D0D0;
    
        /* border-width: 1px; */
            /* display: flex; */
        /* flex-flow: row wrap; */
        /* display: flex; */
        /* justify-content: center;
        border-width: 1px;
        border-top-left-radius: 1px; 
        border-top-right-radius: 1px;
        border-radius: 3px; */
        /* padding-left : 4px; */
        /* border: 0.1px solid #D0D0D0; */
        /* padding-top: 1%; */
        padding-bottom: 20%;
        /* box-sizing: inherit; */
        /* display: block; */
        
        /* word-break: break-all; */
         width: auto;
         height: auto;
         justify-content: space-around;
         margin-left: 55px;
         overflow: auto;
         resize: none;

         /* justify-content: center; */
         /* align-items: stretch; */
        /* resize: both; */
        /* flex-direction: row; */
        /* align-self: center; */

        /* overflow: auto; */
        /* padding-top: 1%;
        padding-bottom: 22%;
        border-left-width:1px;
        border-top-width:1px;
        border-bottom-width:1px;
        border-right-width:1px; */
    }
    .publishedAt {
        text-align: right;
        flex: 1;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 10px ; 
        margin-top: -1%;
        margin-bottom: -3%;
    }
    .link{
        text-decoration: none; 
        color: #1569C7;
    }
     
 }     




   @media only screen and (max-width: 1024px) {
    .main1 {
        background-color: #F2F2F2;
        margin-left: 4%;
        padding-top: 1%;  
        padding:0.8%; 
        width: 90.8%;
        border-left-width:1;
        border-top-width:1;
        border-bottom-width:1;
        border-right-width:1 ;
        border-color: #DCDCDC;
       }
       .maincontainer {
        background-color: 'light';
         margin-left: 4%;
         justify-content: center;
          padding-bottom: -10%; 
           width:91.5%;
       }

       .icc {
        margin-top: 4%;
         color:#2196F3;
          margin-left: 2.7%;
    }
    .imm {
        height: 50px;
        width:50px;
         margin-left: 4%; 
         margin-top: 1.6%;
    }
    .too {
        font-size: 25px;
         font-weight:bold;
         margin-top: 3.8%; 
         margin-left: 2.8%;
         margin-bottom: 5%;
         font-family: poppins;

    
    }
    .link{
        text-decoration: none; 
        color: #1569C7;
    }
     
    
   }
