.main {
    flex: 1;
    display: flex;
    background-color: #F2F2F2;
    margin-left: 31%;
    padding-top: 1%;  
    padding:0.8%; 
    width: 33.1%;
    border-color: #DCDCDC;
   }
   .icc {
    margin-top: 2%;
     color:#2196F3;
      margin-left: 2%;
}
.imm {
    height: 50px;
    width:50px;
    margin-left: 4%; 
    margin-top: -0.%;
}
.too {
    font-size: 30px;
    font-weight:bold;
    margin-top: 1%; 
    margin-left: -1%;
    margin-bottom: -4%;


}
   .maincontainer {
    background-color: 'light';
     margin-left: 31%;
     justify-content: center;
      padding-bottom: -10%; 
       width:34.7%;
   }

   @media only screen and (max-width: 1024px) {
    .main {
        background-color: #F2F2F2;
        margin-left: 4%;
        padding-top: 1%;  
        padding:0.8%; 
        width: 90%;
        border-left-width:1;
        border-top-width:1;
        border-bottom-width:1;
        border-right-width:1 ;
        border-color: #DCDCDC;
       }
       .maincontainer {
        background-color: 'light';
         margin-left: 4%;
         justify-content: center;
          padding-bottom: -10%; 
           width:91.5%;
       }

       .icc {
        margin-top: 4%;
         color:#2196F3;
          margin-left: 2.7%;
    }
    .imm {
        height: 50px;
        width:50px;
         margin-left: 4%; 
         margin-top: 3%;
    }
    .too {
        font-size: 30px;
         font-weight:bold;
         margin-top: 3.8%; 
         margin-left: 2.8%;
         margin-bottom: 5%;
    
    }
   }
