.pulseheader-container {
      background-color: #F2F2F2;
      width: 94%;
      height: 105%;
      display:flex; 
      padding-top: 1px;
      margin-left: 3%;
      font-family: poppins;

}
.icon-image {
    height: 100%;
    width:15%;
     max-width: 90px; 
    margin-left: 6%;   
}  
.header{
    font-size: 25px;
    text-align: center;
    margin-top: 12px;
    margin-left: 15px;
}
.main-container {
    width:94%;
    border-left-width:1px;
    border-top-width:1px;
    border-bottom-width:1px;
    border-right-width:1px ;
    flex-direction: row;
    border: 0.1px solid red;
    margin-left: 3%;
    font-family: poppins;
}
.pulseleft-container{
    margin-left: 2%; 
    width: 60%;
  
}
/* .leftSubtitle1{
    width: 60%;

} */
.pulseright-container {
    float: right;
    margin-top: -85px;
    margin-right: 2%;

}





/* .container {
    flex-direction: 'row';
    padding: 10 ;
    margin-left: 1;
    margin-right:1;
    margin-top: -10;
    margin-bottom: 5;
    background-color: 'white';   
}
.title {
    font-size: 14;
    color: '#006EA6';
    text-align: 'left';
    font-family: 'Roboto';
    flex: 1; 
    flex-direction: 'row'; 
    padding-left: 10;
    margin-left: 0;
}
.container_text {
    flex: 1;
    flex-direction: 'column';
    margin-left: 10;
    display: 'flex';
    justify-content: 'space-around';
    margin-left: 1;
}
.subtitle1 {
    flex: 1;
    font-size: 14;
    color: '#000';
    text-align: 'left';
}
.separator {
    flex: 1; 
    border-width: 0.1; 
    border-color: '#D0D0D0';
    padding-top: 10;
}
 */
